@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent;
  background-color: #141414;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.cardContainer::-webkit-scrollbar {
  display: none;
}
.categoryStripes > div:not(:first-child) {
  margin-top: -12rem;
}
.lolomoRow {
  -webkit-transition: -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition: -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  -o-transition: -o-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  -moz-transition:
    transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -moz-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition:
    transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -moz-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -o-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  position: relative;
}
@-webkit-keyframes pulsateAnimation {
  from {
    background-color: #1a1a1a;
  }
  25% {
    background-color: #333;
  }
  50% {
    background-color: #1a1a1a;
  }
  to {
    background-color: #1a1a1a;
  }
}
@-moz-keyframes pulsateAnimation {
  from {
    background-color: #1a1a1a;
  }
  25% {
    background-color: #333;
  }
  50% {
    background-color: #1a1a1a;
  }
  to {
    background-color: #1a1a1a;
  }
}
@-o-keyframes pulsateAnimation {
  from {
    background-color: #1a1a1a;
  }
  25% {
    background-color: #333;
  }
  50% {
    background-color: #1a1a1a;
  }
  to {
    background-color: #1a1a1a;
  }
}
@keyframes pulsateAnimation {
  from {
    background-color: #1a1a1a;
  }
  25% {
    background-color: #333;
  }
  50% {
    background-color: #1a1a1a;
  }
  to {
    background-color: #1a1a1a;
  }
}
.pulsate {
  -webkit-animation-duration: 3.6s;
  -moz-animation-duration: 3.6s;
  -o-animation-duration: 3.6s;
  animation-duration: 3.6s;
  -webkit-animation-name: pulsateAnimation;
  -moz-animation-name: pulsateAnimation;
  -o-animation-name: pulsateAnimation;
  animation-name: pulsateAnimation;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
